<h1> Ouch, said <%= @player2_name %> </h1>
<h3> <%= @player2_name %> hit points: <%= @player2_points %> </h3>
<h5> Now it's <%=@player1_name%>'s go</h5>
<%# <form action="/player1turn">
<input type='submit' value='Oi, have some of this!'>
</form> %>