<h1> <%= @player1_name %> vs <%= @player2_name %> </h1>
<p> <%= @player2_name %> hit points: 100 </p>

<form action="/attack">
  <input type="submit" value="Attack!!!!!! <%= @player2_name %>" >
</form>
